*{
    box-sizing: border-box;
}

 @media screen and (min-width: 768px) {
    body{
        margin: 0 10%;
    }
    header{
        border-bottom: 2px lightgray solid;

    }
    footer{
        margin:0 10%;
    }
    .dropdown-menu{
        width: 80vw;
        height: 20vw;
        margin: 15px 50px 0px -330px;
        
    }
}
.nav-link{
    text-transform: uppercase;
    color:black;
}
.nav-link-1{
    text-decoration: none;
    font-size: smaller;
}
.navbar-toggler-icon{
    background-color: black;
}
.dropdown-item{
    text-transform: uppercase;
}
 ul li .dropdown-item-sec{
    text-decoration: none;
    color:white;
}

a .dropdown-item-sec{
    margin-bottom: 10px;
}

    ul li:hover > ul,
  ul li ul:hover {
      
    visibility: visible;
    opacity: 1;
    display: block;
    border-top: 3px green solid;
  }
/* Carousel elements */
  #carouselExampleDarks{
   border-radius: 50%;
   color: white;
  }
  .carousel-caption h3, 
  .carousel p, 
  .carousel a{
    color:white;
    text-decoration: none;
    }
.carousel-caption button{
        border: 2px white solid;
        border-radius: 25px;
        color: white;
        background-color: inherit;
        opacity: 0.8;
        padding: 5px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
}
.carousel-caption a:hover{
    color:white;
}

  /*Cookie policy dialog box*/
  .cookie{
      
      width: 80%;
      height: auto;
      background-color: #fff;
      position: fixed;
      bottom: 20px;
      border-radius: 10px;
      left: 5%;
      padding: 10px 20px;
      margin-left: 6em;
  }

  .cookie .txt{
      float: left;
      margin-right: 30%;
      width: small;

  }
  .txt h5{
    color: #30b867;
  }
  .txt p{
      color:#1D2D35;
  }
  
  .cookie .accept {
      background-color: #40CC79;
      color: #fff !important;
      border-radius: 32px;
      padding: 3px 23px;
      /* align-self: center; */
      font-size: 19px;
      /* margin-top: 2.5%;	 */
      /* margin-left: 3%; */
      float:right;
      
  }
  .cookie.accept:hover {
      background-color: #30b867;
  }
 

